comparator-parent/comparator/src/main/resources/comparator-v4.xsd

<?xml version="1.0" standalone="yes"?>
<!--+
    | Copyright 2015-2024 Christian Bremer.
    | 
    | Licensed under the Apache License, Version 2.0 (the "License");
    | you may not use this file except in compliance with the License.
    | You may obtain a copy of the License at
    | 
    |      http://www.apache.org/licenses/LICENSE-2.0
    | 
    | Unless required by applicable law or agreed to in writing, software
    | distributed under the License is distributed on an "AS IS" BASIS,
    | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    | See the License for the specific language governing permissions and
    | limitations under the License.
    +-->
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://bremersee.org/xmlschemas/comparator/v4" xmlns:tns="http://bremersee.org/xmlschemas/comparator/v4" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="sortOrder" type="tns:sortOrderType"/>

  <xs:element name="sortOrderItem" type="tns:sortOrderItemType"/>

  <xs:complexType name="sortOrderItemType">
    <xs:sequence>
      <xs:element name="field" type="xs:string" minOccurs="0"/>
      <xs:element name="direction" type="tns:direction" default="ASC" minOccurs="0"/>
      <xs:element name="case-handling" type="tns:caseHandling" default="INSENSITIVE" minOccurs="0"/>
      <xs:element name="null-handling" type="tns:nullHandling" default="NATIVE" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sortOrderType">
    <xs:sequence>
      <xs:element ref="tns:sortOrderItem" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC"/>
      <xs:enumeration value="DESC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="caseHandling">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INSENSITIVE"/>
      <xs:enumeration value="SENSITIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="nullHandling">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NULLS_FIRST"/>
      <xs:enumeration value="NULLS_LAST"/>
      <xs:enumeration value="NATIVE"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
